In [1]:
from neo4j import GraphDatabase
import csv
driver = GraphDatabase.driver(uri="bolt://dlomp90y.corp.intranet:7687", auth=("ctlitest", "ctlitest"))


with open('ticket_new.csv', 'w',newline='') as csvFile:
    writer = csv.writer(csvFile)  

    session = driver.session()
   # q1 = "MATCH (s:ServiceAddress)<-[:HAS_SERVICE_ADDRESS]-(a:Account{accountType : 'CONSUMER'}) - [:HAS_TICKET] -> (t:Ticket) RETURN a.dataKeyAccountId,a.dataKeyCustomerId,s.addressLine1,s.addressLine2,s.locality,s.stateOrProvince,t.reasonForCall, t.highLevelProduct,t.ticketType LIMIT 1000"
   # q2 = "MATCH (c:Customer) WHERE c.createdDate STARTS WITH '2019-01'RETURN c.customerStatus, c.customerType,c.createdDate,c.customerSubType,c.lastModifiedDate,c.createdBy,c.lastModifiedBy,c.dataKeyCustomerId,c.name,c.sourceKeyCustomerId,c.version"
    q3 = "MATCH (t:Ticket) where t.ticketCreatedDate STARTS WITH '2019-01' RETURN t.ticketCreatedDate,t.communicationType,t.isActive,t.billingSource,t.classOfService,t.dataKeyTicketId,t.lastUpdate,t.activationDate,t.transcriptText,t.ticketingMode,t.usoc,t.productTroubleAi,t.accountNumber,t.ticketType,t.productStatus"
    nod = session.run(q3)

    for j in nod:
        writer.writerow(j)

TransientError: The transaction has been terminated. Retry your operation in a new transaction, and you should see a successful result. Explicitly terminated by the user.

In [2]:
#a='C:\Users\ac36345\Downloads\AccountNodeProd.csv'
import pandas as pd
df = pd.read_csv('C:\\Users\\ac36345\\Downloads\\AccountNodeProd.csv')
df.head()

C:\Users\ac36345\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (1,3,4,20,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,a.accountBalance,a.dataKeyAccountId,a.sourceKeyAccountId,a.dataKeyCustomerId,a.accountNumber,a.accountSource,a.accountStatus,a.billingAccountStatus,a.accountType,a.AccountStartDate,...,a.billingSmsSubscribeInd,a.repairEmailSubscribeInd,a.repairSmsSubscribeInd,a.myAcctSetupInd,a.myAcctLoginId,a.myAcctLastAccsDttm,a.creditClass,a.isMultiLine,a.territory,a.subTerritory
0,0.0,411638318,2589759.0,411638318,411638318,ENSEMBLE,N,NaN,CONSUMER,NaN,...,NaN,NaN,NaN,Y,biggskymt@yahoo.com,NaN,NaN,NaN,LC,CT
1,60.0,417127287,2802572.0,417127287,417127287,ENSEMBLE,O,NaN,CONSUMER,NaN,...,NaN,NaN,NaN,Y,ericv9240@gmail.com,2020-02-26 17:58:26,NaN,N,LC,CT
2,50.0,421413396,2973979.0,421413396,421413396,ENSEMBLE,O,NaN,CONSUMER,NaN,...,NaN,NaN,NaN,Y,ljohtola@gmail.com,NaN,NaN,N,LC,CT
3,10.0,425512098,3157479.0,425512098,425512098,ENSEMBLE,S,NaN,CONSUMER,NaN,...,NaN,NaN,NaN,Y,antwon02042015@gmail.com,2019-10-29 22:08:02,6,N,LC,CT
4,35.0,426075738,3157417.0,426075738,426075738,ENSEMBLE,O,NaN,CONSUMER,NaN,...,NaN,NaN,NaN,Y,426075738,2020-01-22 10:13:23,5,N,LC,CT

In [15]:
def missing_percentage(df):
    """This function takes a DataFrame(df) as input and returns two columns, total missing values and total missing values percentage"""
    total = df.isnull().sum().sort_values(ascending = False)
    percent = round(df.isnull().sum().sort_values(ascending = False)/len(df)*100,2)
    return pd.concat([total, percent], axis=1, keys=['Total','Percent'])
missing_percentage(df)

                              Total  Percent
a.isLifeline                 429909   100.00
a.isPaymentArrangement       429909   100.00
a.isNoChecks                 429909   100.00
 a.AccountStartDate          429909   100.00
a.isEmployeeAccount          429909   100.00
a.isVacationSuspend          429909   100.00
a.isLifelineDate             429909   100.00
a.isSpecialHandling          429909   100.00
a.billingAccountStatus       429909   100.00
a.isComboBilled              429909   100.00
a.is3rdPartyAncilaryBlock    429909   100.00
a.isLocalFreeze              429909   100.00
a.taxExemptionCodes          429397    99.88
a.specialNeedsBillOptions    428902    99.77
a.billingSmsSubscribeInd     422491    98.27
a.repairEmailSubscribeInd    422446    98.26
a.repairSmsSubscribeInd      422418    98.26
a.orderingSmsSubscribeInd    422398    98.25
a.billingEmailSubscribeInd   422063    98.17
a.orderingEmailSubscribeInd  421881    98.13
a.contactSms                 285695    66.45
a.contactEmail               267971    62.33
a.myAcctLastAccsDttm         220216    51.22
a.creditClass                207560    48.28
a.lastPaymentDate            110392    25.68
a.lastPaymentAmount           96865    22.53
a.lastBillAmount              94486    21.98
a.isMultiLine                 91818    21.36
a.myAcctSetupInd              88689    20.63
a.myAcctLoginId               88689    20.63
a.currentBillAmountDue        72947    16.97
a.marketingSubscribeInd       56221    13.08
a.language                    30697     7.14
a.currentBillDueDate           8543     1.99
a.currentBillDate              5833     1.36
a.accountBalance               4793     1.11
a.subTerritory                 1355     0.32
a.territory                    1355     0.32
a.accountEndDate                113     0.03
a.sourceKeyAccountId            113     0.03
a.billCycleCode                   6     0.00
a.billingMethod                   2     0.00
a.picFreezeCode                   1     0.00
a.previousBTN                     1     0.00
a.billingSource                   0     0.00
a.accountType                     0     0.00
a.pastDueAmount                   0     0.00
a.accountStatus                   0     0.00
a.accountSource                   0     0.00
 a.accountNumber                  0     0.00
a.dataKeyCustomerId               0     0.00
a.dataKeyAccountId                0     0.00
a.recurringPaymentMethod          0     0.00

In [4]:
def percent_value_counts(df, feature):
    """This function takes in a dataframe and a column and finds the percentage of the value_counts"""
    percent = pd.DataFrame(round(df.loc[:,feature].value_counts(dropna=False, normalize=True)*100,2))
    ## creating a df with th
    total = pd.DataFrame(df.loc[:,feature].value_counts(dropna=False))
    ## concating percent and total dataframe

    total.columns = ["Total"]
    percent.columns = ['Percent']
    return pd.concat([total, percent], axis = 1)

In [17]:
percent_value_counts(df, 'a.accountSource')

           Total  Percent
ENSEMBLE  399212    92.86
CRIS       30697     7.14

In [6]:
percent_value_counts(df, 'a.accountStatus')

            Total  Percent
O          265053    61.65
N          110068    25.60
ACTIVE      42464     9.88
INACTIVE     8492     1.98
S            2932     0.68
SUSPENDED     873     0.20
C              16     0.00
PENDING        10     0.00
T               1     0.00

In [18]:
df1 = df[(df['a.accountStatus'] == 'INACTIVE') | (df['a.accountStatus']== 'SUSPENDED')]

In [33]:
df1.groupby("a.accountSource")['a.accountStatus'].count()

a.accountSource
CRIS        4720
ENSEMBLE    4645
Name: a.accountStatus, dtype: int64

In [40]:
def year_fun(i):
    i = i[:4]
    return i

In [41]:
df1['year']= df1['a.myAcctLastAccsDttm'].apply(lambda x:year_fun(str(x)))

C:\Users\ac36345\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
df1.head()

,a.accountBalance,a.dataKeyAccountId,a.sourceKeyAccountId,a.dataKeyCustomerId,a.accountNumber,a.accountSource,a.accountStatus,a.billingAccountStatus,a.accountType,a.AccountStartDate,...,a.repairEmailSubscribeInd,a.repairSmsSubscribeInd,a.myAcctSetupInd,a.myAcctLoginId,a.myAcctLastAccsDttm,a.creditClass,a.isMultiLine,a.territory,a.subTerritory,year
178,200.37,446943617,4211662.0,446943617,446943617,ENSEMBLE,SUSPENDED,NaN,CONSUMER,NaN,...,NaN,NaN,Y,zayejr0113@gmail.com,2019-12-13 20:08:09,5,N,LC,CT,2019
203,65.00,447936416,4274237.0,447936416,447936416,ENSEMBLE,INACTIVE,NaN,CONSUMER,NaN,...,NaN,NaN,NaN,NaN,NaN,6,N,LC,CT,nan
233,81.77,449071549,4341953.0,449071549,449071549,ENSEMBLE,SUSPENDED,NaN,CONSUMER,NaN,...,NaN,NaN,NaN,NaN,NaN,7,Y,LC,CT,nan
296,0.00,467570450,17723927.0,467570450,467570450,ENSEMBLE,INACTIVE,NaN,CONSUMER,NaN,...,NaN,NaN,Y,belanger45823@gmail.com,NaN,3,N,LC,CT,nan
401,99.99,468555500,20318887.0,468555500,468555500,ENSEMBLE,INACTIVE,NaN,CONSUMER,NaN,...,NaN,NaN,Y,carmen.lorenzo0801@gmail.com,NaN,2,N,LC,CT,nan

In [43]:
percent_value_counts(df1, 'year')

      Total  Percent
nan    6402    68.36
2020   1949    20.81
2019   1012    10.81
2018      1     0.01
2017      1     0.01

In [ ]:
od = pd.read_csv('C:\\Users\\ac36345\\Downloads\\OrderNodeprod.csv')
od.head()