In [11]:
import random
a=[0,1,2,3,4,5]

In [14]:
for i in a:
    print(a[1])

1
1
1
1
1
1

In [ ]:
   *
  ***
 *****
*******

In [23]:
def tri_fun(n):
    no = 2*(n-1) + 1
    space = no//2
    for i in range(n):
        print(space*' '+'*'*(2*i+1))
        space=space-1
tri_fun(14)

             *
            ***
           *****
          *******
         *********
        ***********
       *************
      ***************
     *****************
    *******************
   *********************
  ***********************
 *************************
***************************

In [ ]:
0,1,1,2,3,5,8

In [37]:
def fib(n):
    for i in range(n):
        a=[]
        if i==0:
            tnext=0
        elif i ==1 or i==2:
            tnext=1
        else:
            tnext = tprevious + tnext
        tprevious = tnext
        print(tnext)
       # a.append(tnext)
    #print(a)
    return a
result=fib(6)
#print(result)

0
1
1
2
4
8

In [ ]:
1,2,3,4,5,6,7,8,9,10

In [47]:
for i in range(2,16):
    for j in range(2,i):
        if i%j==0:
            print(i,'is not a prime')
            break
    else:
        print(i,'is prime')
#print(i,'is prime')

2 is prime
3 is prime
4 is not a prime
5 is prime
6 is not a prime
7 is prime
8 is not a prime
9 is not a prime
10 is not a prime
11 is prime
12 is not a prime
13 is prime
14 is not a prime
15 is not a prime

In [48]:
a=[1,2,3,4]
a[::-1]

[4, 3, 2, 1]

In [54]:
with open('C:\\Users\\ac36345\\Documents\\DATA.txt') as f:
    count=0
    #text=f.read()
    count = sum(1 for line in f for character in line if character.isupper())
    #for character in text:
     #   if character.isupper():
      #      count +=1
print(count)

644

In [57]:
list = ["1", "4", "0", "6", "9"]
list = [int(i) for i in list]
#list.sort()
a=sorted(list)
print (list,a)

[1, 4, 0, 6, 9] [0, 1, 4, 6, 9]

In [60]:
sum((1,2,3))

6

In [61]:
a=range(10)

In [62]:
a

range(0, 10)

In [ ]:
from bs4 import BeautifulSoup
 
import requests
import sys
 
url = '<a href="http://www.imdb.com/chart/top">http://www.imdb.com/chart/top</a>'
response = requests.get(url)
soup = BeautifulSoup(response.text)
tr = soup.findChildren("tr")
tr = iter(tr)
next(tr)
 
for movie in tr:
title = movie.find('td', {'class': 'titleColumn'} ).find('a').contents[0]
year = movie.find('td', {'class': 'titleColumn'} ).find('span', {'class': 'secondaryInfo'}).contents[0]
rating = movie.find('td', {'class': 'ratingColumn imdbRating'} ).find('strong').contents[0]
row = title + ' - ' + year + ' ' + ' ' + rating
 
print(row)

In [ ]:
import urllib.request
urllib.request.urlretrieve("URL", "local-filename.jpg")

In [63]:
import numpy as np
arr = np.array([1, 3, 2, 4, 5])
print(arr.argsort()[-3:][::-1])

[4 3 1]

In [ ]:
import numpy as np
a = np.array([1,2,3,4,5])
p = np.percentile(a, 50) #Returns 50th percentile, e.g. median
print(p)