In [1]:
'str' object does not support item assignment
example[::-1].startswith("d")
__add__ is another method that can be used for concatenation
chr(ord('A'))
s.strip()--strip tab space newlibe
__getitem(..) can be used to get character at index specified as parameter.
s1.__contains__(s2)

TypeError: 'str' object does not support item assignment

In [26]:
#Dict--if d2=d1...then it copies the cointainer(key name can be same but based on value they can be different)
d1 = {"john":40, "peter":45}
d2 = {"john":400, "peter":45}
d3=d1
print(d1 == d2,d1 == d3)

False True

In [19]:
d1 = {"john":40, "peter":45}
d3=d1

In [20]:
d1

{'john': 40, 'peter': 45}

In [21]:
d3

{'john': 40, 'peter': 45}

In [24]:
d3==d1

True

In [23]:
d1['john']=100

In [25]:
d3

{'john': 100, 'peter': 45}

In [11]:
id(d1)

2122102898336

In [12]:
id(d2)

2122103244984

In [13]:
id(d3)

2122102898336