In [6]:
import numpy as np
import pandas as pd
a=np.array([1,2,3,4,5])
b=pd.Series(a)
df = pd.read_csv("C:\\Users\\ac36345\\Desktop\\nlp code1\\Test_data.csv")

FileNotFoundError: [Errno 2] File C:\Users\ac36345\Desktop\nlp code1\Test_data.csv does not exist: 'C:\\Users\\ac36345\\Desktop\\nlp code1\\Test_data.csv'

In [1]:
pip install xlrd==1.2.0

Collecting xlrd==1.2.0
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 2.0.1
    Uninstalling xlrd-2.0.1:
      Successfully uninstalled xlrd-2.0.1
Successfully installed xlrd-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#df = pd.read_excel("C:\\Users\\ac36345\\Desktop\\nlp code1\\Test_data.csv")
#d1=pd.read_csv("C:\\Users\\ac36345\\Desktop\\mangodb.txt",delimiter='\t')  --'xxx'

In [ ]:
df.columns

In [ ]:
pip install xlrd

In [ ]:
df = pd.read_excel("C:\\Users\\ac36345\\Downloads\\Pattern_Analysis_Round_-_Data_Sheet.xlsx",engine="xlrd")

In [ ]:
df.head()

In [13]:
#print(df.describe(),df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37717 entries, 0 to 37716
Data columns (total 21 columns):
Device_Type                     37717 non-null int64
Filled_Form                     37717 non-null int64
Gender                          37717 non-null int64
Loan_Amount_Applied             37717 non-null float64
Loan_Tenure_Applied             37717 non-null float64
Loan_Tenure_Submitted           37717 non-null float64
LoggedIn                        37717 non-null float64
Mobile_Verified                 37717 non-null int64
Monthly_Income                  37717 non-null int64
Salary_Account                  37717 non-null int64
Source                          37717 non-null int64
Var1                            37717 non-null int64
Var2                            37717 non-null int64
Var4                            37717 non-null float64
Var5                            37717 non-null int64
Age                             37717 non-null int64
Loan_Amount_Submitted_BINNED    37717 non-null int64
EMI_Loan_Submitted_BINNED       37717 non-null int64
Existing_EMI_BINNED             37717 non-null int64
Interest_Rate_BINNED            37717 non-null int64
Processing_Fee_BINNED           37717 non-null int64
dtypes: float64(5), int64(16)
memory usage: 6.0 MB
        Device_Type   Filled_Form        Gender  Loan_Amount_Applied  \
count  37717.000000  37717.000000  37717.000000         3.771700e+04
mean       1.473553      0.225548      0.571360         2.292514e+05
std        0.880777      0.417948      0.494888         3.537945e+05
min        0.000000      0.000000      0.000000         0.000000e+00
25%        0.000000      0.000000      0.000000         0.000000e+00
50%        2.000000      0.000000      1.000000         1.000000e+05
75%        2.000000      0.000000      1.000000         3.000000e+05
max        2.000000      1.000000      1.000000         1.500000e+07

       Loan_Tenure_Applied  Loan_Tenure_Submitted  LoggedIn  Mobile_Verified  \
count         37717.000000           37717.000000   37717.0     37717.000000
mean              2.153724               3.942652       0.0         0.648169
std               2.018269               0.896295       0.0         0.477548
min               0.000000               1.000000       0.0         0.000000
25%               0.000000               4.000000       0.0         0.000000
50%               2.000000               4.000000       0.0         1.000000
75%               4.000000               4.000000       0.0         1.000000
max              10.000000               6.000000       0.0         1.000000

       Monthly_Income  Salary_Account  ...          Var1          Var2  \
count    3.771700e+04    37717.000000  ...  37717.000000  37717.000000
mean     3.980311e+04        4.101546  ...     11.359944      3.141581
std      2.361382e+05        3.650602  ...      3.279934      2.305299
min      0.000000e+00        0.000000  ...      0.000000      0.000000
25%      1.650000e+04        1.000000  ...     10.000000      1.000000
50%      2.500000e+04        3.000000  ...     13.000000      2.000000
75%      4.000000e+04        9.000000  ...     13.000000      6.000000
max      3.500000e+07        9.000000  ...     18.000000      6.000000

               Var4          Var5           Age  Loan_Amount_Submitted_BINNED  \
count  37717.000000  37717.000000  37717.000000                  37717.000000
mean       2.952303      4.972320     34.913514                      4.426068
std        1.689596      5.668464      7.116368                      2.022484
min        0.000000      0.000000     22.000000                      1.000000
25%        1.000000      0.000000     30.000000                      4.000000
50%        3.000000      2.000000     33.000000                      4.000000
75%        5.000000     11.000000     38.000000                      5.000000
max        7.000000     18.000000    104.000000                     11.000000

       EMI_Loan_Submitted_BINNED  Existing_EMI_BINNED  Interest_Rate_BINNED  \
count               37717.000000         37717.000000          37717.000000
mean                    0.507729             0.896333              1.720285
std                     0.866576             1.564031              2.968196
min                     0.000000             0.000000              0.000000
25%                     0.000000             0.000000              0.000000
50%                     0.000000             0.000000              0.000000
75%                     1.000000             1.000000              3.000000
max                     7.000000            10.000000             13.000000

       Processing_Fee_BINNED
count           37717.000000
mean                5.166212
std                 1.912645
min                 0.000000
25%                 5.000000
50%                 5.000000
75%                 5.000000
max                11.000000

[8 rows x 21 columns] None

In [7]:
df.loc[2:4] #row 2,3,4 including 4

,Device_Type,Filled_Form,Gender,Loan_Amount_Applied,Loan_Tenure_Applied,Loan_Tenure_Submitted,LoggedIn,Mobile_Verified,Monthly_Income,Salary_Account,...,Var1,Var2,Var4,Var5,Age,Loan_Amount_Submitted_BINNED,EMI_Loan_Submitted_BINNED,Existing_EMI_BINNED,Interest_Rate_BINNED,Processing_Fee_BINNED
2,2,0,0,300000.0,2.0,4.0,0.0,0,10000,1,...,13,1,1.0,0,30,4,0,0,0,5
3,0,0,0,0.0,0.0,4.0,0.0,0,14650,0,...,13,2,1.0,0,28,4,0,0,0,5
4,2,0,1,100000.0,1.0,2.0,0.0,1,23400,2,...,13,1,1.0,0,32,1,0,2,0,5

In [4]:
df.iloc[2:4] # row 2,3

,Device_Type,Filled_Form,Gender,Loan_Amount_Applied,Loan_Tenure_Applied,Loan_Tenure_Submitted,LoggedIn,Mobile_Verified,Monthly_Income,Salary_Account,...,Var1,Var2,Var4,Var5,Age,Loan_Amount_Submitted_BINNED,EMI_Loan_Submitted_BINNED,Existing_EMI_BINNED,Interest_Rate_BINNED,Processing_Fee_BINNED
2,2,0,0,300000.0,2.0,4.0,0.0,0,10000,1,...,13,1,1.0,0,30,4,0,0,0,5
3,0,0,0,0.0,0.0,4.0,0.0,0,14650,0,...,13,2,1.0,0,28,4,0,0,0,5

In [5]:
print(df.iloc[2,3],df.loc[2,'Loan_Amount_Applied'])# loc takes label name whereas iloc takes default index no

300000.0 300000.0

In [7]:
df['Device_Type']

0        2
1        0
2        2
3        0
4        2
        ..
37712    2
37713    0
37714    0
37715    2
37716    2
Name: Device_Type, Length: 37717, dtype: int64

In [7]:
print(df['Device_Type'].values,df['Device_Type'].unique())

In [18]:
a = ["apples", "bananas", "oranges"] #for append or new assignment list id won't change
print(id(a))
a[1]='shashi'
a
id(a)

2374530013640

2374530013640

In [54]:
#sort and groupby
#df.sort_values('Device_Type',asc)
df.groupby('Gender').mean().sort_values('Defense',ascending=False)

,Device_Type,Filled_Form,Loan_Amount_Applied,Loan_Tenure_Applied,Loan_Tenure_Submitted,LoggedIn,Mobile_Verified,Monthly_Income,Salary_Account,Source,Var1,Var2,Var4,Var5,Age,Loan_Amount_Submitted_BINNED,EMI_Loan_Submitted_BINNED,Existing_EMI_BINNED,Interest_Rate_BINNED,Processing_Fee_BINNED
Gender,,,,,,,,,,,,,,,,,,,,
0,1.612049,0.070019,243697.090307,2.390982,3.966228,0.0,0.179192,30678.048246,4.305128,1.364632,12.467310,3.058143,2.088328,2.721655,34.093524,4.121049,0.157914,1.201583,0.536711,5.072122
1,1.369652,0.342227,218414.166404,1.975731,3.924965,0.0,1.000000,46648.804130,3.948817,1.409652,10.529188,3.204176,3.600464,6.660789,35.528677,4.654896,0.770162,0.667332,2.608213,5.236798

In [30]:
df.loc[df['Device_Type']==2].head(2)

,Device_Type,Filled_Form,Gender,Loan_Amount_Applied,Loan_Tenure_Applied,Loan_Tenure_Submitted,LoggedIn,Mobile_Verified,Monthly_Income,Salary_Account,...,Var1,Var2,Var4,Var5,Age,Loan_Amount_Submitted_BINNED,EMI_Loan_Submitted_BINNED,Existing_EMI_BINNED,Interest_Rate_BINNED,Processing_Fee_BINNED
0,2,0,1,100000.0,3.0,3.0,0.0,1,21500,1,...,10,1,3.0,3,32,1,1,0,6,0
2,2,0,0,300000.0,2.0,4.0,0.0,0,10000,1,...,13,1,1.0,0,30,4,0,0,0,5

In [11]:
#df.loc[df['Device_Type']==2,'Gender'].head(2)  --two ways of writing
df.loc[df['Device_Type']==2,'Gender'].head(2)

0    1
2    0
Name: Gender, dtype: int64

In [12]:
#sum function
df.iloc[:,4:10].sum(axis=1).head(5)

0    21508.0
1    42008.0
2    10007.0
3    14654.0
4    23406.0
dtype: float64

In [4]:
#dataframe using dict
import pandas as pd
dic = {1:[2,3],'name':['shashi','shash']}
c= pd.DataFrame(dic)
#c.to_csv(name,index=False,sep='')
c

   1    name
0  2  shashi
1  3   shash

In [53]:
#filterning data | and & 
#df.loc[(df['Device_Type']==2) | (df['Loan_Tenure_Submitted'] == 4)].reset_index(drop = True,inplace)
#df.loc[(df['Device_Type']==2) & (df['Loan_Tenure_Submitted'] == 4)].reset_index(drop = True,inplace)

In [45]:
# like operator in dataframe -- str.contains
#df.loc[df['name'].str.contains('Mega')]
c.loc[~c['name'].str.contains('Mega')]

   1    name
0  2  shashi
1  3   shash

In [46]:
#set value in dataframe
c.loc[c['name']=='shash','name'] = 'fire'
c

   1    name
0  2  shashi
1  3    fire

In [50]:
import re
c.loc[c['name'].str.contains('Mega[a-z]*',flag=re.I,regex=True)]
#c.loc[c['name'].str.contains('no|yes',flag=re.I,regex=True)]

TypeError: contains() got an unexpected keyword argument 'flag'

In [55]:
df1 = pd.DataFrame({'Key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'Key': ['a', 'b', 'd'], 'data2': range(3)})
df1.append(df2) #[ignore_index = True for getting 7,8,9 row index]

#append and concat are same

  Key  data1  data2
0   b    0.0    NaN
1   b    1.0    NaN
2   a    2.0    NaN
3   c    3.0    NaN
4   a    4.0    NaN
5   a    5.0    NaN
6   b    6.0    NaN
0   a    NaN    0.0
1   b    NaN    1.0
2   d    NaN    2.0

In [57]:
df1 = pd.DataFrame({'Key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'Key': ['a', 'b', 'd'], 'data2': range(3)})
pd.concat([df1, df2])

#==
#+
#==

C:\Users\ac36345\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

  Key  data1  data2
0   b    0.0    NaN
1   b    1.0    NaN
2   a    2.0    NaN
3   c    3.0    NaN
4   a    4.0    NaN
5   a    5.0    NaN
6   b    6.0    NaN
0   a    NaN    0.0
1   b    NaN    1.0
2   d    NaN    2.0

In [6]:
#from neo4j import GraphDatabase

In [ ]:
.merge() can only use columns (plus row-indices) and it is semantically suitable for database-style operations. 
.concat() can be used with either axis, using only indices, and gives the option for adding a hierarchical index.

Incidentally, this allows for the following redundancy: both can combine two dataframes using the rows indices.

pd.DataFrame.join() merely offers a shorthand for a subset of the use cases of .merge()

In [17]:
df2

  Key  data2
0   a      0
1   b      1
2   d      2

In [5]:
import pandas as pd
df1 = pd.DataFrame({'Key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'Key': ['a', 'b', 'd'], 'data2': range(3)})
pd.merge(df1, df2) 

#merge is like inner join with repeted key

#= + = [for common key/rows] it is like join on one column(where value in one column can repear based on the key value)

  Key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [53]:
df1 = pd.DataFrame({'Key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'Key': ['a', 'b', 'd'], 'data2': range(3)})
df1.join(df2)
#syntax of appen and join is same ,syntax of merge and concat are same

ValueError: columns overlap but no suffix specified: Index(['Key'], dtype='object')

In [3]:
#apply
import pandas as pd
df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
print(df.apply(np.sqrt),'\n*****','\n', df.apply(np.sum, axis=0),'\n****','\n', df.apply(lambda x: [1, 2], axis=1))

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0
*****
 A    12
B    27
dtype: int64
****
 0    [1, 2]
1    [1, 2]
2    [1, 2]
dtype: object

In [66]:
my_string = "{}, is a {} science portal for {}"
  
print (my_string.format("GeeksforGeeks", "computer", "geeks")) 
print("{1} love {0}!!".format("GeeksforGeeks", 
                                    "Geeks"))

GeeksforGeeks, is a computer science portal for geeks
Geeks love GeeksforGeeks!!

In [3]:
import math 
print(math.floor(-3.5)) # floor  
print(math.trunc(-3.5)) # work as ceil 
print(math.ceil(-3.5)) 
print(math.floor(-3.2)) # floor

-4
-3
-3
-4

In [3]:
"my name is {0} and I am {1}".format("shashi","fine")

'my name is shashi and I am fine'