In [ ]:
# other than aggreate column rest column should be present in groupby clause
#if subquery used as for a table creation then write alias name for each aggregate column and give a name to table as well
#ex: (select name,count(id) as 'idcount' from table) t   where t.idcount = ....
#order by used at the last statement
#wgho order of 
#union ignores duplicate union all takes all row
#where col in (if here returns more than one value)
#if we want to write aggreate fun in condition clause use having instead of where

In [ ]:
select ROW_NUMBER() over(partition by  order by )

In [ ]:
select ROW_NUMBER() over(order by prod_id) rownum,cat_name from table_name
# over(order by prod means for one the of prod_id rownum remain same for next value of prod_id ronum changes
select ROW_NUMBER() over(partition by cate_id order by prod,prod_id) rownum,cat_name from table_name
#restart the no when cate_id changes this is the meaning of partition by cate_id

select DENSE_RANK() over(order by prod,prod_id) rownum,cat_name from table_name

# diff between rank and dense rank
v    dense_rank    rank
a      1            1
b      2            2
b      2            2 
c      3            4
c      3            4
d      4            6 
e      5            7

In [ ]:
#seceond max salary 
select distinct salary from employee e1
where 2 = (select count(distict salary) from employee e2 where e1.salary <= e2.salary
           

select min(salary) from (select distinct salary from employee order by salary desc) where rownum <=2

In [ ]:
#duplicate rows
Select * from Employee a where rowid <>( select max(rowid) from Employee b where a.Employee_num=b.Employee_num);

In [ ]:
#monthly sal
select yearlysalary/12 as 'monthly salary' from employee

In [ ]:
ROWNUM can be used to limit the number of rows returned by a query, as shown in the example below:

ROWID is representative of the allocation of physical memory.

In [ ]:
#union removes duplicate rows whereas union all does not removes
intersect -- a inersection b
except a-b

#How to fetch 3rd highest salary using Rank Function?
select * from(selct DENSE_RANK() over (order by salary desc) rank from employee)
where rank = 3 

#create table using select table
Create table Employee_1 as Select * from Employee where 1=2;

#50% row
select rownum, e.* from emp e where rownum<=(select count(*)/2 from emp);

#How to get distinct records from the table without using distinct keyword.
select max row id value
select * from Employee a where  rowid = (select max(rowid) from Employee b where  a.Employee_no=b.Employee_no);


oracle: 
o
r
a
c
l
e
Select Substr(‘ORACLE’,Level,1) From Dual
Connect By Level<= Length(‘ORACLE’);

In [ ]:
#running total
select cat.categoryname,productname,totalamoun,
sum(totalamount) over(PARTITION by cat categoryid
ORDER BY productname) AS RunningTotal
from (select prod.categoryid, prod.productname,sum(ord quantity ord unitPrice) [totalamount]
from [order details] ord
inner join products prod on ord.productid = prod.productid
GROUP BY prod.productname,prod.categoryid) t
inner join categories on t.categoryid = cat.categoryid

In [ ]:
#lead and lag function--
#SQL Complex Queries , Query Optimization and Interview Questions SQLServer 2016

A DB trigger is a code or programs that automatically execute with response to some event on a table or view in a database. 
Mainly, trigger helps to maintain the integrity of the database.

In [ ]:
#correlated subquery
SELECT last_name, salary, department_id
 FROM employees outer
 WHERE salary >
                (SELECT AVG(salary)
                 FROM employees
                 WHERE department_id =
                        outer.department_id);

In [ ]:
#second max salary method::
find the salary which is less or equal to onlt 2 salaries
arrange the salary in desc order and then find the rownum 2 salary
find the max(salary) which is less than the max salary of the table
selecting top2 salary from decrising salary and then select top 1 salary from asending salary

SELECT salary FROM Employee ORDER BY salary DESC LIMIT 1,1;(limit and skip)
or salary < max and limit 1.

using rownum:
SELECT Salary FROM ( SELECT e.Salary, ROW_NUMBER() OVER (ORDER BY salary DESC) rn FROM Employee e ) WHERE rn = 2;

In [ ]:
CREATE TABLE Students ( 	 /* Create table with multiple fields as primary key */
    ID INT NOT NULL
    LastName VARCHAR(255)
    FirstName VARCHAR(255) NOT NULL,
    CONSTRAINT PK_Student
    PRIMARY KEY (ID, FirstName)
);

ALTER TABLE Students 	 /* Set a column as primary key */
ADD PRIMARY KEY (ID);

ALTER TABLE Students 	 /* Set multiple columns as primary key */
ADD CONSTRAINT PK_Student 	 /*Naming a Primary Key*/
PRIMARY KEY (ID, FirstName);

In [ ]:
select first.submission_date,min(second.hacker_id)
from (
select t.submission_date,max(scount) as 'mscount' from
 (select submission_date,hacker_id,count(submission_id) as 'scount' from 
 Submissions 
where hacker_id in (select p.hacker_id from (select submission_date,hacker_id,count(submission_id) as 'col' from Submissions group by submission_date,hacker_id) p
group by p.hacker_id
having count(p.submission_date) > 14)
group by submission_date,hacker_id) t
group by t.submission_date 
where hacker_id in (select p.hacker_id from (select submission_date,hacker_id,count(submission_id) as 'col' from Submissions group by submission_date,hacker_id) p
group by p.hacker_id
having count(p.submission_date) > 14)
group by submission_date,hacker_id) t
group by t.submission_date ) first
left join 
(seelct submission_date,hacker_id,count(submission_id) as 'sc' from Submissions
 group by submission_date,hacker_id) second
on first.submission_date = second.submission_date
and sc = mscount
group by second.submission_date