In [98]:
from neo4j import GraphDatabase
import pandas as pd
driver = GraphDatabase.driver(uri="bolt://dlomt08z.test.intranet:7687", auth=("hyperlite_reader", "hyperlite_reader"))
session = driver.session()
q1 = "MATCH (c:Customer)-[r:HAS_ACCOUNT]->(a:Account{accountType : 'CONSUMER'}) RETURN a.dataKeyAccountId, a.accountNumber, a.accountStartDate"
nod = session.run(q1)
df = pd.DataFrame([r.values() for r in nod], columns=nod.keys())
df.head()

  a.dataKeyAccountId a.accountNumber a.accountStartDate
0          300012040       300012040         2017-07-15
1          300013872       300013872         2017-07-15
2          300013467       300013467         2017-07-15
3          300004703       300004703         2017-07-15
4          300004758       300004758         2017-07-15

In [99]:
Session.close()
#nod.commit()

NameError: name 'Session' is not defined